@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
#navigation{
    text-align: center;
    margin:auto;
    background-color: gold;
    height:10vh;
}
#btn-translate{
    margin:auto;
    display:block;
    background-color: gold;
    border:1px solid black;
    border-radius: 1rem;
}
#mylanguageInput{
    margin:auto;
    display:block;
    width: 400px;
    border-radius: 1rem;
}
#translator{
    width:400px;
    height:150px;
    border: 1px solid black;
    margin:auto;
    background-color: darkgoldenrod;
    border-radius: 1rem;
    text-align: center;
}
.list-img{
    display:flex;
    flex-flow: column;
    max-width:105px;
}
